<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BONDING CURVE</title>
  </head>
  <body>
    <div class="price">
      <h1 id="price"></h1>
      <h2 id="salut">HEYYYY</h2>
      <label for="price" id="price1"></label>
      <input type="text" id="inp" />
      <script type="text/javascript" defer>
        document.getElementById("price").innerHTML = "Marc";
        let greeter = document.getElementById("salut").value;
        document.getElementById("inp").value = "hasda";
        document.getElementById("price1").innerHTML = greeter;
      </script>
    </div>
    <h2>hey</h2>
  </body>
</html>
